/* start Variables */
:root {
    --main-color: #2196f3;
    --hover-a: #fafafa;
    --main-trans: 0.3s;
    --section: #ececec;
    --sec-padding: 100px;
    --p-color: #777;
    --main-shadow: 0 0px 7px 2px rgba(226, 226, 226, 20%), 0 0px 10px 2px rgba(161, 161, 161, 20%);
}

/* end Variables */
/* start global rules */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
    counter-reset: c;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

[type="submit"] {
    cursor: pointer;
}

/* end global rules */
/* start componants */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:767px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.sec-head {
    padding: 10px 20px;
    border: 2px solid black;
    margin: 0 auto 80px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    z-index: 2;
}

.sec-head::before,
.sec-head::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
}

.sec-head::before {
    right: -30px;
}

.sec-head::after {
    left: -30px;
}

.sec-head:hover::before {
    animation: right-head var(--main-trans)linear forwards;
    -webkit-animation: right-head var(--main-trans)linear forwards;
}

.sec-head:hover::after {
    animation: left-head var(--main-trans)linear forwards;
    -webkit-animation: left-head var(--main-trans)linear forwards;
}

.sec-head:hover {
    color: white;
    border-color: white;
    transition-delay: var(--main-trans);
}

.separator {
    position: relative;
}

.separator::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

/* end componants */
/* start Header */
header {
    background-color: white;
    position: relative;
    box-shadow: var(--main-shadow);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@media (max-width:767px) {
    header .container {
        flex-direction: column;
    }
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    height: 72px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:767px) {
    header .container .logo {
        height: 40px;
    }
}

header .container nav ul:not(.mega-ul) {
    display: flex;
}

header .container nav ul:not(.mega-ul) a:not(.mega-a) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    padding: 0 30px;
    font-size: 18px;
    position: relative;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

@media (max-width:767px) {
    header .container nav ul:not(.mega-ul) a:not(.mega-a) {
        height: 40px;
        font-size: 16px;
        padding: 0 10px;
    }
}

header .container nav ul:not(.mega-ul) a:not(.mega-a):hover {
    background: var(--hover-a);
    color: var(--main-color);
}

header .container nav ul:not(.mega-ul) a:not(.mega-a)::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 0%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    transform-origin: left;
}

header .container nav ul:not(.mega-ul) a:not(.mega-a):hover::before {
    width: 100%;
}

header .mega {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 120px;
    gap: 40px;
    padding: 30px;
    border-bottom: 2px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    background-color: white;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

@media (max-width:992px) {
    header .mega {
        padding: 0 5px;
    }
}

header .list:hover:not(.mega) .mega {
    top: 72px;
    opacity: 1;
    z-index: 100;
}

header .mega .mega-a {
    color: var(--main-color);
    z-index: 4;
    position: relative;
    width: 100%;
    display: block;
}

header .mega li {
    font-size: 18px;
    font-weight: 800;
    padding: 15px;
    position: relative;
}

header .mega li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--hover-a);
    z-index: 3;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    transform-origin: left;
}

header .mega li:hover::before {
    width: 100%;
}

header .mega li:not(:nth-last-child(1)) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width:1200px) {
    .mega img {
        width: 420px;
    }
}

@media (max-width:992px) {
    .mega .image {
        display: none;
    }
}

@media (max-width:767px) {
    header .mega {
        display: block;
    }

    header .mega ul:first-child li:nth-last-child(1) {
        border-bottom: 1px solid #e9e6e6;
    }
}

header .mega-ul {
    width: 100%;
}

/* end Header */
/* start landing */
.landing {
    position: relative;
    height: calc(100vh - 72px);
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: var(--section);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
}

.landing .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 150px;
}

.landing .container .text {
    flex: 1;
}

@media (max-width:992px) {
    .landing .container .text {
        text-align: center;
    }
}

.landing .container h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

.landing .container p {
    margin: 5px 0 0;
    font-size: 23px;
    color: #666;
    line-height: 1.5;
}

.landing .container img {
    position: relative;
    width: 600px;
    animation: land 2s linear alternate infinite;
    -webkit-animation: land 2s linear alternate infinite;
}

@media (max-width:992px) {
    .landing .image {
        display: none;
    }
}

.landing .container i {
    position: absolute;
    bottom: 30px;
    color: var(--main-color);
    left: 50%;
    transform: translatex(-50%);
    animation: poi 2s linear infinite;
    -webkit-animation: poi 2s linear infinite;
}


/* end landing */
/* start Articles*/
.articles {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.articles .artcont {
    position: relative;
}

.articles .artcont .article {
    position: relative;
    top: 0;
    box-shadow: var(--main-shadow);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.up:hover {
    top: -10px !important;
    box-shadow: 0 3px 15px #9f9f9f !important;
}

.articles .artcont img {
    width: 100%;
}

.articles .artcont .text div:nth-child(1) h3 {
    margin: 0 0 10px;
}


.articles .artcont .text div:nth-child(1) p {
    line-height: 1.5;
    color: var(--p-color);
    margin: 0;
}

.articles .artcont .text div:nth-child(1) {
    border-bottom: 1px solid #e6e6e7;
    padding: 20px;
}

.articles .artcont .text div:nth-child(2) i {
    position: relative;
    left: 0;
}

.articles .artcont .article:hover i {
    animation: to-right 1s infinite linear;
    -webkit-animation: to-right 1s infinite linear;
}

.articles .artcont .text a {
    padding: 5px 20px;
    color: var(--main-color);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* end Articles*/
/* start Gallery*/
.gallery {
    background-color: var(--section);
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.gallery .cards .card {
    padding: 15px;
    background-color: white;
    position: relative;
    box-shadow: var(--main-shadow);
}


.gallery .cards .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    z-index: 2;
}

.gallery .cards .card:hover::before {
    background-color: transparent;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}


.gallery .cards .image {
    overflow: hidden;
    width: 100%;
}

.gallery .cards img {
    max-width: 100%;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.gallery .cards .card:hover img {
    transform: rotate(5deg) scale(1.2);
    -webkit-transform: rotate(5deg) scale(1.2);
    -moz-transform: rotate(5deg) scale(1.2);
    -ms-transform: rotate(5deg) scale(1.2);
    -o-transform: rotate(5deg) scale(1.2);
}

/* end Gallery*/
/* start Features*/
.features {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    text-align: center;
}

.features .card {
    border: 1px solid #ccc;
}

.features .image {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.features img {
    width: 100%;
}

.features .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 1px);
}

.features .card:nth-child(1) .image::before {
    background-color: rgba(244, 64, 54, .6)
}

.features .card:nth-child(2) .image::before {
    background-color: rgba(0, 150, 136, .6)
}

.features .card:nth-child(3) .image::before {
    background-color: rgba(3, 169, 244, .6);
}

.features .image::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 500px solid transparent;
    border-bottom: 220px solid white;
    border-right: 0 solid transparent;
    bottom: 0;
    right: 0;
    z-index: 2;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.features .card:hover .image::after {
    border-left: 0px solid transparent;
    border-right: 500px solid transparent;
    right: -30px;
}

@media (min-width:660px) and (max-width:992px) {
    .features .card .image::after {
        bottom: -15px;
    }

    .features .card:hover .image::after {
        border-right: 360px solid transparent;
    }
}

@media (min-width:722px) and (max-width:992px) {
    .features .card:hover .image::after {
        border-right: 374px solid transparent;
    }
}

.features .text {
    padding: 25px;
}

.features .text h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 15px;
    position: relative;
    padding-bottom: 15px;
}

.features .text h2::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 60px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.features .card:nth-child(1) .text h2::before {
    background-color: rgb(244, 64, 54);
}

.features .card:nth-child(2) .text h2::before {
    background-color: rgb(0, 150, 136);
}

.features .card:nth-child(3) .text h2::before {
    background-color: rgb(3, 169, 244);
}

.features .text p {
    color: var(--p-color);
    line-height: 2;
    font-size: 20px;
}

.features .card a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 22px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
    z-index: 2
}

.features .card a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    transform-origin: left;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.features .card:nth-child(1):hover a::before {
    width: 100%;
    background-color: rgb(244, 64, 54);
}

.features .card:nth-child(2):hover a::before {
    width: 100%;
    background-color: rgb(0, 150, 136);
}

.features .card:nth-child(3):hover a::before {
    width: 100%;
    background-color: rgb(3, 169, 244);
}

.features .card:nth-child(1) a {
    color: rgb(244, 64, 54);
    border: 3px solid rgb(244, 64, 54);
}

.features .card:nth-child(2) a {
    color: rgb(0, 150, 136);
    border: 3px solid rgb(0, 150, 136);
}

.features .card:nth-child(3) a {
    color: rgb(3, 169, 244);
    border: 3px solid rgb(3, 169, 244);
}

.features .card:hover a {
    color: white;
}

/* end Features*/
/* start testimonials*/
.testimonials {
    background-color: var(--section);
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.testimonials .card {
    position: relative;
    background-color: white;
    box-shadow: var(--main-shadow);
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.testimonials .card img {
    position: absolute;
    width: 100px;
    border: 10px solid var(--section);
    height: 100px;
    top: -50px;
    right: -10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonials .card h3,
.testimonials .card span {
    margin: 0 0 10px;
}

.testimonials .card span {
    display: block;
    color: var(--p-color);
}

.testimonials .card .filled {
    color: #ffc107;
}

.testimonials .card p {
    line-height: 1.2;
    color: var(--p-color);
}

/* end testimonials*/
/* start team*/
.team {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.team .card {
    position: relative;
    padding-top: 50px;
}

.team .card::before,
.team .card::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team .card::before {
    background-color: #f3f3f3;
    height: calc(100%);
    width: calc(100% - 60px);
}

.team .card::after {
    background-color: #e4e4e4;
    height: calc(100%);
    width: 0;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.team .card:hover::after {
    width: calc(100% - 60px);
}

.team .card .content {
    display: flex;
}

.team .card .content img {
    width: calc(100% - 60px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.team .card:hover .content img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.team .card .content .media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.team .card .content a {
    color: var(--p-color);
    width: 60px;
    display: flex;
    justify-content: center;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.team .card .content a:hover {
    color: var(--main-color);
}

.team .card .text {
    padding-left: 80px;
}

.team .card .text h3 {
    font-size: 23px;
    color: var(--main-color);
    font-weight: 800;
    margin-bottom: 0;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.team .card:hover h3 {
    color: var(--p-color);
}

.team .card .text p {
    font-weight: 500;
}

/* end team*/
/* start services*/
.services {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-color: var(--section);
}

.services .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    top: 0;
    box-shadow: var(--main-shadow);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.services .card::before {
    content: "";
    left: 50%;
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.services .card:hover::before {
    width: 100%;
}

.services .card i {
    margin: 20px 0 15px;
    color: #d5d5d5;
}


.services .card h3 {
    color: var(--main-color);
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 40px;
}

.services .card a {
    display: block;
    width: 100%;
    padding: 15px;
    direction: rtl;
    color: var(--main-color);
    background-color: #f9f9f9;
    position: relative;
}

.services .card a::before {
    counter-increment: c;
    content: "0" counter(c);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    font-size: 30px;
    font-weight: 700;
    width: 80px;
}

.services .card a::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
    left: 70px;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}

/* end services*/
/* start skills*/
.skills {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.skills .container {
    display: flex;
}

@media (max-width:992px) {
    .skills .container {
        flex-wrap: wrap;
    }

    .skills .container img {
        margin: auto;
    }
}

@media (max-width:776px) {
    .skills .container img {
        width: 100%;
    }
}

.skills .container .card .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.skills .container .card .text span {
    height: fit-content;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
    color: var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.skills .container .bars {
    width: 100%;
}

.skills .container .bar {
    height: 30px;
    background-color: #eee;
}

.skills .container .bar span {
    display: inline-block;
    height: 100%;
    background-color: var(--main-color);
}

.skills .container .bar span:nth-child(1),
.skills .container .bar span:nth-child(4) {
    width: 80%;
}

.skills .container .bar span:nth-child(2) {
    width: 85%;
}

.skills .container .bar span:nth-child(3) {
    width: 70%;
}

/* end skills*/
/* start work*/
.work {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-color: var(--section);
}

.work .container {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

@media (max-width:992px) {
    .work .container {
        flex-wrap: wrap;
    }
}

.work .container .card {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #f6f5f5;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    z-index: 2;
}

@media (max-width:776px) {
    .work .container>img {
        margin: auto;
        width: 100%;
    }
}

.work .container .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    z-index: -1;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform-origin: center;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.work .container .card:hover::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.work .container .card img {
    width: 60px;
    aspect-ratio: 1 / 1;
    margin-right: 40px;
}

.work .container .card h3 {
    margin: 0;
    font-size: 20px;
}

.work .container .card p {
    color: var(--p-color);
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}

/* end work*/
/* start events*/
.events {
    position: relative;
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.dots {
    position: absolute;
    z-index: -2;
}

.dots:nth-child(1) {
    right: 0;
    top: 200px;
}

.dots:nth-child(2) {
    left: 0;
    bottom: 100px;
}

@media (max-width:767px) {
    .event .dots:nth-child(2) {
        left: 0;
        bottom: 200px;
    }
}

.events .content {
    display: flex;
    align-items: center;
}

.events .content img {
    max-width: 450px;
}

@media (max-width:992px) {
    .events .content img {
        display: none;
    }
}

.events .content .info {
    text-align: center;
}

.events .count-down {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.events .count-down>div {
    width: 75px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
}

.events .count-down .num {
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    border-bottom: 1px solid #d4d4d4;
}

.events .count-down .num+div {
    padding: 10px;
    font-size: 13px;
}

.events .content .info h2 {
    margin: 40px 0 0;
    font-size: 30px;
}

.events .content .info p {
    color: var(--p-color);
    line-height: 1.7;
    font-size: 19px;
}

.events .subscribe {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events .subscribe form {
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.events .subscribe form input {
    outline: none;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 20px;
}

@media (max-width:767px) {
    .events .subscribe form {
        flex-wrap: wrap;
    }

    .events .subscribe form,
    .events .subscribe input {
        width: 100%;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
    }
}

.events .subscribe form [type="email"] {
    flex: 1;
    caret-color: var(--main-color);
}

.events .subscribe form [type="email"]::placeholder {
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.events .subscribe form [type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscribe form [type="submit"] {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

/* end events*/
/* start pricing*/
.pricing {
    background-color: var(--section);
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    position: relative;
}

.pricing .dots {
    z-index: 1;
}

.pricing .card {
    background-color: white;
    box-shadow: 0 0 15px 5px #b3b0b0;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 2;
}

.pricing .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 20px;
    width: 40px;
}

.pricing .label::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: white;
    bottom: 0;
    left: 0;
}

.pricing .card:nth-child(2) {
    top: -20px;
}

@media (max-width:1200px) {
    .pricing .card:nth-child(2) {
        top: 0px;
    }
}

.pricing .card::before,
.pricing .card::after {
    content: "";
    width: 0%;
    height: 50%;
    position: absolute;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.pricing .card::before {
    top: 0;
    right: 0;
}

.pricing .card::after {
    bottom: 0;
    left: 0;
}

.pricing .card:hover::before,
.pricing .card:hover::after {
    width: 100%;
}

.pricing .card h3 {
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
}

.pricing .card img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .card span {
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: -10px;
}

.pricing .card p {
    color: var(--p-color);
    margin-bottom: 20px;
    font-size: 13px;
}

.pricing .card ul {
    width: 100%;
}

.pricing .card ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .card ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .card a {
    margin: 30px;
    padding: 15px 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: -1px;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.pricing .card a:hover {
    background-color: var(--main-color);
    color: white !important;
}

/* end pricing*/
/* start video*/
.videos {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.videos .holder {
    display: flex;
}

.videos .holder {
    border: 1px solid var(--section);
}

@media (max-width:992px) {
    .videos .holder {
        flex-direction: column;
    }
}

.videos .holder .list {
    min-width: 300px;
}

.videos .holder .list ul span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .holder li,
.videos .headd,
.videos .holder .video p {
    padding: 20px;
}


.videos .headd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    font-weight: 700;
}

.videos .holder li {
    border-top: 1px solid var(--section);
}

.videos .holder li {
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

.videos .holder li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .holder .video {
    padding: 10px;
    background-color: var(--section);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .holder .video img {
    width: 100%;
}

.videos .holder .video p {
    background-color: white;
    font-size: 16px;
}

/* end video*/
/* start stats*/
.stats {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-image: url(../image/stats.jpg);
    position: relative;
}

.stats::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    top: 0;
    right: 0;
}

.stats .container {
    position: relative;
    z-index: 2;
}

.stats .container .card {
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats .container .card span:nth-of-type(1) {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.stats .container .card span:nth-of-type(2) {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

/* end stats*/
/* start discount*/
.discount {
    display: flex;
}

.discount>div {
    width: 50%;
    text-align: center;
    padding-top: 60px;
}

@media (max-width:767px) {
    .discount {
        flex-direction: column;
    }

    .discount>div {
        width: 100%;
    }
}

.discount>div:nth-of-type(1) {
    background-image: url(../image/discount-background1.jpg);
    background-size: cover;
    color: white;
    position: relative;
    animation: back 3s infinite alternate;
    -webkit-animation: back 3s infinite alternate;
}


.discount>div:nth-of-type(1)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(23 135 224 / 97%);
}

.discount>div h2 {
    position: relative;
    font-size: 40px;
    letter-spacing: -2px;
    z-index: 2;
}

.discount>div:nth-of-type(1) p {
    position: relative;
    margin: auto;
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
    z-index: 2;
    margin-bottom: 20px;
}

.discount img {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 2;
}

.discount form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount form input,
.discount textarea {
    outline: none;
    border: none;
    background-color: #f9f9f9;
    width: 50%;
    padding: 15px;
    margin-bottom: 20px;
}

.discount textarea {
    resize: none;
    height: 200px;
}

.discount form input:not(:nth-last-child(1)),
.discount textarea {
    caret-color: var(--main-color);
    border-bottom: 1px solid #ccc;
}

.discount form input:nth-last-child(1) {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
}


/* end discount*/
/* start footer*/
footer {
    background-color: #191919;
    padding-top: 70px;
}

@media (max-width:767px) {
    footer {
        text-align: center;
    }
}

footer .card:nth-child(1) h3 {
    color: white;
    font: 700;
    font-size: 50px;
    margin: 0 0 20px;
}

footer .card:nth-child(1) a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-right: 10px;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

footer .card:nth-child(1) {
    color: #b9b9b9;
    line-height: 1.7;
    font-size: 16px;
}

footer .card:nth-child(2) li {
    padding: 20px 0;
    color: #b9b9b9;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}

footer .card:nth-child(2) li:hover {
    padding: 20px 0 20px 10px;
}

footer .card:nth-child(2) li:not(:nth-last-child(1)) {
    border-bottom: 1px solid #444;
    ;
}

footer .card:nth-child(2) li i {
    color: var(--main-color);
}

footer .card:nth-child(3)>div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .card:nth-child(3)>div {
        display: block !important;
    }
}

footer .card:nth-child(3)>div i {
    color: var(--main-color);
    font-size: 25px;
    margin-right: 10px;
}

@media (max-width:767px) {
    .card:nth-child(3)>div i {
        margin-bottom: 20px;
    }
}

footer .card:nth-child(3)>div .info {
    line-height: 2;
    color: #b9b9b9;
}

.f-grid-4 {}

.f-grid-4 div {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
    display: inline-block;
}

.f-grid-4 img {
    width: 100%;
}

footer>div:nth-last-child(1) {
    border-top: 1px solid #444;
    margin: 40px 0 0;
}

footer>div:nth-last-child(1) p {
    color: white;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

/* end footer*/
/* start animation*/

@keyframes land {
    0% {
        top: -10px;
    }

    100% {
        top: 30px;
    }
}

@keyframes poi {
    0% {
        bottom: 30px;
    }

    20% {
        bottom: 45px;
    }

    40% {
        bottom: 30px;
    }

    60% {
        bottom: 45px;
    }

    80% {
        bottom: 30px;
    }

    100% {
        bottom: 30px;
    }
}

@keyframes left-head {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes right-head {

    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes to-right {
    100% {
        left: 10px;
    }
}

@keyframes back {
    to {
        background-image: url(../image/discount-background2.jpg);
    }
}

/* end animation*/